.search input {
	width: 70%;
	border: 1px solid var(--almost-red);
}

.cards {
	margin-top: 50px;
	width: 100%;
}

thead th {
	background-color: var(--almost-red);
	color: white;
}

table {
	width: 100%;
	text-align: center;
}

.thPict {
	padding: 10px 0px;
}

.thPict img {
	max-width: 100%;
}
.thJudul {
	width: 40%;
}

.thAuthor {
	width: 30%;
}

.thJudul p {
	margin: 0;
	font-weight: bold;
}

@media screen and (max-width: 433px) {
	.thJudul p {
		font-size: 12px;
	}
}