{% extends 'base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/main/home.css' %}">{% endblock style %}
{% block title %}<title>Find Your Book!</title>{% endblock title %}

{% block content %}
	<div class="container">
		<section class="search">
			<div class="row">
				<div class="col col-12">
					<input type="text" id="keyword" name="keyword" placeholder="Mau cari buku berjudul apa?">
				</div>
			</div>	
		</section>
		
		<section class="bookList">
			<div class="cards" id="cards">
				<table id="table" border="1">
					<thead>
						<tr>
							<th class="thPict">Gambar Buku</th>
							<th class="thJudul">Judul Buku</th>
							<th class="thJudul">Penulis</th>
						</tr>	
					</thead>
					<tbody>
						
					</tbody>
				</table>
			</div>
		</section>

		<ul class="result" id="result" style="font-size: 50px;"></ul>	
	</div>
	
{% endblock content %}

{% block script %}
	<script type="text/javascript">
		$(function() {
		    $('#keyword').keyup(function() {
		    	$.ajax({
		            url: "/search/",
		            data: {
		                'search_text' : $('#keyword').val(),
		            },
		            success: function(hasil){
		            	var obj_hasil = $('tbody');
		            	obj_hasil.empty();

		            	for (i = 0; i < hasil.items.length; i++) {
		            		var title = hasil.items[i].volumeInfo.title;
		            		var image = "'{% static 'images/main/default.jpg' %}'";
		            		if (hasil.items[i].volumeInfo.imageLinks != null) {
		            			var image = hasil.items[i].volumeInfo.imageLinks.smallThumbnail;
		            		}

		                    var authors = "-";

		                    if (hasil.items[i].volumeInfo.authors != null) {
		                        var authors = hasil.items[i].volumeInfo.authors[0];

		                        for (j = 1; hasil.items[i].volumeInfo.authors.length > 0 && j < hasil.items[i].volumeInfo.authors.length; j++) {
		                            authors += ", " + hasil.items[i].volumeInfo.authors[i];
		                        }    
		                    }
		                	
		            		obj_hasil.append(
		            			"<tr><td class='thPict'><img src=" + image + "></td><td class='thJudul'><p>" + title + "</p></td><td class='thAuthor'><p>" + authors + "</p></td></tr>"
		            		);

		            	}	
		            }
		        });
		    });
		});
	</script>
{% endblock script %}
</body>
</html>